@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');

.subscribe-container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: #fff;
  font-family: 'Roboto', sans-serif;

  .subscribe-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px 0;

    .subscribe-content {
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 32px;
    }

    .subscribe-text {
      text-align: left;

      .subscribe-title {
        font-size: 36px;
        font-weight: 700;
        font-family: 'Rufina', serif;
        margin: -8px 0 4px;
      }

      .subscribe-subtitle {
        font-size: 18px;
        color: #ddd;
      }
    }

    .subscribe-form {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 50px;
      padding: 8px;
      width: 580px;
    }

    .subscribe-input {
      flex-grow: 1;
      
      .MuiOutlinedInput-root {
        border-radius: 50px;
        color: #000;
        
        & .MuiOutlinedInput-notchedOutline {
          border: none;
        }

        .MuiInputAdornment-root svg {
            color: #888;
        }

        input::placeholder {
          color: #777777;
          opacity: 1;
        }
      }
    }

    .subscribe-button {
      background-color: #FA8507;
      color: #fff;
      font-weight: 700;
      border-radius: 50px;
      padding: 17px 48px;
      text-transform: none;
      font-size: 16px;

      &:hover {
        background-color: #e07506;
      }
    }
  }
}
